<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <form [formGroup]="checkoutForm">
                        <label>Full Name:</label>
                        <input type="text" class="form-control" formControlName="name"
                            placeholder="Enter your full name" [class.is-invalid]="name?.invalid && name?.touched">
                        @if(name?.invalid && name?.touched){
                        <div class="error">
                            @if(name?.errors?.['required']){
                            <small>Full Name is required</small>
                            }
                        </div>
                        }
                        <label>Phone:</label>
                        <input type="text" class="form-control" formControlName="phone"
                            placeholder="Enter your phone number "
                            [class.is-invalid]="phone?.invalid && phone?.touched">
                        @if(phone?.invalid && phone?.touched){
                        <div class="error">
                            @if(phone?.errors?.['required']){
                            <small>Phone number is required</small>
                            }
                            @if(phone?.errors?.['pattern']){
                            <small>Phone number must have 10-digits</small>
                            }
                        </div>
                        }

                        <label>Address:</label>
                        <input type="text" class="form-control" formControlName="address"
                            placeholder="Enter your D.No, street and area"
                            [class.is-invalid]="address?.invalid && address?.touched">
                        @if(address?.invalid && address?.touched){
                        <div class="error">
                            @if(address?.errors?.['required']){
                            <small>Address is required</small>
                            }
                        </div>
                        }
                        <label>City:</label>
                        <input type="text" class="form-control" formControlName="city" placeholder="Enter your city"
                            [class.is-invalid]="city?.invalid && city?.touched">
                        @if(city?.invalid && city?.touched){
                        <div class="error">
                            @if(city?.errors?.['required']){
                            <small>City is required</small>
                            }
                        </div>
                        }
                        <label>State:</label>
                        <input type="text" class="form-control" formControlName="state" placeholder="Enter your state"
                            [class.is-invalid]="state?.invalid && state?.touched">
                        @if(state?.invalid && state?.touched){
                        <div class="error">
                            @if(state?.errors?.['required']){
                            <small>State is required</small>
                            }
                        </div>
                        }
                        <label>Pin Code:</label>
                        <input type="text" class="form-control" formControlName="pincode"
                            placeholder="Enter your 6-digit pin code"
                            [class.is-invalid]="pincode?.invalid && pincode?.touched">
                        @if(pincode?.invalid && pincode?.touched){
                        <div class="error">
                            @if(pincode?.errors?.['required']){
                            <small>Pincode number is required</small>
                            }
                            @if(pincode?.errors?.['pattern']){
                            <small>Pincode must have 6 numerical digits</small>
                            }
                        </div>
                        }
                        <div class="form-control-radio">
                            <label>Payment Method</label>

                            <div class="payment-option">
                                <input type="radio" formControlName="paymentMethod" value="cod"
                                    [class.is-invalid]="paymentMethod?.invalid && paymentMethod?.touched">
                                <small>Cash on Delivery</small>
                            </div>

                            <div class="payment-option">
                                <input type="radio" formControlName="paymentMethod" value="upi"
                                    [class.is-invalid]="paymentMethod?.invalid && paymentMethod?.touched">
                                <small>UPI</small>
                            </div>

                            <div class="payment-option">
                                <input type="radio" formControlName="paymentMethod" value="card"
                                    [class.is-invalid]="paymentMethod?.invalid && paymentMethod?.touched">
                                <small>Card</small>
                            </div>
                            @if(paymentMethod?.invalid && paymentMethod?.touched){
                            <div class="error">
                                @if(paymentMethod?.errors?.['required']){
                                <small>Payment method is required</small>
                                }
                            </div>
                            }
                        </div>
                        <div class="card shadow mt-4">
                            <div class="card-body">

                                <h3>Order Summary</h3>

                                @for (item of cartStore.cartItems(); track item.id) {

                                <div class="d-flex justify-content-between mb-2">

                                    <span>
                                        {{ item.productName }} * {{ item.quantity }}
                                    </span>

                                    <span>
                                        ₹{{ item.price * item.quantity }}
                                    </span>

                                </div>

                                }

                                <hr>

                                <div class="d-flex justify-content-between">
                                    <strong>Total Items:</strong>
                                    <strong>{{ cartStore.totalQuantity() }}</strong>
                                </div>

                                <div class="d-flex justify-content-between mt-2">
                                    <strong>Total:</strong>
                                    <strong>₹{{ cartStore.totalPrice() }}</strong>
                                </div>

                            </div>
                        </div>
                        <button type="button" class="btn btn-success w-100 mt-3" [disabled]="checkoutForm.invalid || cartStore.cartItems().length===0" (click)="placeOrder()">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>